_site/
.quarto/
_freeze/

README_files/
notes_for_email.md
checklist.md
README.html
README.md
/data/
/instructor/
/homework/


activities/w01*
activities/w02*
activities/w03*
activities/w04*
activities/w05*
activities/w06*
activities/w07*
activities/w08*
activities/w09*
activities/w1*


lessons/01b*
lessons/02*
lessons/03*
lessons/04*
lessons/05*
lessons/06*
lessons/07*
lessons/08*
lessons/09*
lessons/1*

peer-evaluation.qmd
CLAUDE.md

/.quarto/
**/*.quarto_ipynb
